# Base de dados (PostgreSQL 18) — consumido por @nala/db
DATABASE_URL=postgres://nala_dev_usr:EKEsj5vA95alnNV6mw3O0j0AZM2F2nxzYJlQW7Vm9EIo1UI7s0u0r6LI3GJTG9Bz@38.242.249.66:5430/postgres

# Better Auth — consumido por @nala/auth
BETTER_AUTH_SECRET=WFEi2PJrUP7pMPZBANbqfQN1fGIpgsLMfjy27Q51c0I=
BETTER_AUTH_URL=http://localhost:3001
AUTH_TRUSTED_ORIGINS=http://localhost:3000

# Exposto ao browser (cliente do Better Auth em `web`)
NEXT_PUBLIC_AUTH_URL=http://localhost:3001
